.wrapper {
  background-color: #677a85;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 30px;
  height: 100vh;
  gap: 30px;
}

section {
  width: 50%;

  &:last-child {
    height: 450px;
    overflow-y: auto;
  }
}

.example-button-row {
  display: grid;
  gap: 30px;
}
